.search-box {
  border-radius: 5px;
  border: 1px solid white;
  width: 550px;
  line-height: 50px;
}
.search{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button{
  padding: 14px 20px;
  border-radius: 5px; 
  margin-left: 5px;
  border: 1px solid white;
  background-color: #3d038fbc;
  color: white;
  font-weight: 900;
}

::placeholder { 
  color: rgb(17, 17, 17);
  font-weight: bold;
  font-size: larger;
padding-left: 10px;
text-align: center;
}
  
input[text]{
  color: rgb(17, 17, 17);
  font-weight: bold;
  font-size: larger;
padding-left: 10px;
}
  
