/* 
body {

  background-image: url(https://t4.ftcdn.net/jpg/01/94/35/17/360_F_194351723_BIsWMTNUXD0ZM768UjfsOVYjpdbxVgeW.jpg);
  height: 100%; 
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;

} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
